<!DOCTYPE html>
<html>
    <head>
         <!-- NOTE! In order for my backend code to appear in these control blocks, the struct fields MUUUUST
            start with a capital!!! NO EXCPERIONS! -->
        <title>
            Landing 
        </title>       
        <meta charset = "UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"/>
        <link rel = "stylesheet" href = "./static/css/landingPage.css">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="">Awesome Bank</a>
                <button
                  type="button"
                  class="navbar-toggler"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="navbar">

                <ul class="nav navbar-nav">
                  <li>
                    <a class="nav-link active" href=""> Home<span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href = "/aboutus">About</a>
                  </li>
                  <li>
                    <a class="nav-link" href="">Contact</a>
                  </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                  <li>
                   
                    <a class="nav-link" href = "/login"> <button class = "button login"> Log in </button> </a>
                  </li>
                  <li>
                    <a class="nav-link" href = "/signup"> <button class = "button signup"> Apply Now </button>  </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div id="content">
           
                <div class="col-lg-12">
                  <h3>Bank, budget and earn <br> 30x the national average <br> with 2.02% APY.</h3>
                </div>
          
          </div>
        

    </body>
</html>